---
interface Props {
  blobName: string;
  description: string;
  caption: string;
}

const { blobName, description, caption } = Astro.props;

const publicImageUrl = import.meta.env.PUBLIC_CDN_BASE_URL;
const src = `${publicImageUrl}/blog/${blobName}.webm`;
---

<div
  style="display: flex; flex-direction: column; align-items: center; gap: 0.5rem; font-size: 0.75em;"
>
  <video
    style="max-width: 100%; width=100%"
    autoplay
    loop
    muted
    src={src}
    controls></video>
  <span style="color: rgb(var(--gray))">{caption}</span>
</div>

<style></style>
